nome_do_cluster = "oficina"
namespace       = "oficina"

arn_do_administrador = "arn:aws:iam::123456789012:user/administrador"
arn_da_pipeline      = "arn:aws:iam::123456789012:role/oficina-github-actions"

banco_nome    = "oficina"
banco_usuario = "oficina"
banco_senha   = "oficina_local"
